- @vendor.products.order('RANDOM()').first(9).each do |product|

  div[class="item  col-xs-4 col-lg-4"]

  p.product
    = link_to(product)
      div.product_title #{product.title}
      = image_tag(product.pictures.first.file.url, alt: product.title)
      div.product_description 
        = product.description.size > 50 ? product.description[1..50] : product.description



  <div class="item  col-xs-4 col-lg-4">
    <div class="thumbnail">
      <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          Product title</h4>
        <p class="group inner list-group-item-text">
          Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p class="lead">
              $21.000</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
